<!DOCTYPE html>
<html lang="en">
<head>
    <title>ktmap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato|Rammetto+One&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
<div id="app"></div>
</body>
</html>